:root {
    /* Cores */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-grey: #212529;
    --color-light-grey: #f0f0f0;
    --color-bg-light: #f8f9fa;

    /* Fontes */
    --font-primary: 'Poppins', sans-serif;

}

/* HTML e Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary) !important;
}


/* Navigation Bar */
nav a {
    color: white !important;
}

nav img {
    height: 30px;
    width: 30px;
}

.nav-link:hover {
    color: #fcc100bb !important;
    transition: background-color 0.3s, color 0.3s;
}

/* Home Section */
.landing-img {
    width: 100%;
    border-radius: 50%;
}

.hero {
    height: 70vh; 
    align-items: center; 
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: white;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* About me Section */

section {
    scroll-margin-top: 60px;
}

#about-me {
    background-color: #f8f9fa; 
    min-width: 100%;
}

.about-img {
    width: 200px;
}

.about-content {
    flex-direction: column;
}

/* Portfolio Section */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-image {
    height: 200px; 
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* Contact Me Section */
.contact-img {
    height: 250px;
    width: auto;
}

/* Footer */
