:root {
    /* Cores */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-grey: #212529;
    --color-light-grey: #f0f0f0;
    --color-bg-light: #f8f9fa;
    --color-linkhover: #fcc100bb;

    /* Fontes */
    --font-primary: 'Poppins', sans-serif;
}


/* HTML e Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary) !important;
}


/* NavBar */
nav a {
    color: white !important;
}

nav img {
    height: 40px;
}

.nav-link:hover {
    color: var(--color-linkhover) !important;
    transition: background-color 0.3s, color 0.3s;
}


/* Landing page Section */
.landing-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    object-fit: cover;
}

@media (max-width: 576px) {
    .landing-img {
        width: 50%;
    }
  }

@media (min-width: 576px) and (max-width: 768px) { 
    .landing-img {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .landing-img {
        width: 50%;
    }
  }

.hero {
    height: 70vh; 
    align-items: center; 
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: white;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* About me Section */
.about-span {
    font-size: 25px;
    font-weight: 600;
}

section {
    scroll-margin-top: 60px;
}

#about-me {
    background-color: #f8f9fa; 
    min-width: 100%;
}

.about-img {
    width: 200px;
}

.about-content {
    flex-direction: column;
}

.about-text {
    text-align: justify !important;
    line-height: 0.9cm;
  }


/* Portfolio Section */
.card {
    transition: transform 0.2s;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-image {
    height: 200px; 
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* Contact Me Section */
.contact-img {
    height: 250px;
    width: auto;
}

/* Contact e Footer */
.foo-img i:hover {
    color: var(--color-linkhover);
}
