:root {
    /* Cores */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-grey: #212529;
    --color-light-grey: #f0f0f0;
    --color-bg-light: #f8f9fa;

    /* Fontes */
    --font-primary: 'Poppins', sans-serif;

}

/* HTML e Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary) !important;
}


/* Navigation Bar */
nav a {
    color: white !important;
}

nav img {
    height: 30px;
    width: 30px;
}

.nav-link:hover {
    color: #fcc100bb !important;
    transition: background-color 0.3s, color 0.3s;
}

/* Home Section */
main img {
    width: 60%;
}

.hero {
    height: 70vh; 
    align-items: center; 
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: white;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* About me Section */
#about-me {
    background-color: #f8f9fa; 
    min-width: 100%;
}

.about-img {
    width: 200px;
}

.about-content {
    flex-direction: column;
}

/* Portfolio Section */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}


/* Footer */


/* Button Scroll */

/*Apenas mostrar o scroll to top em desktops ou ecrãs maiores */
@media (min-width: 992px) {
    .scroll-to-top {
        position: fixed;
        bottom: 80px;
        right: 20px;
        display: none;
        font-size: 50px;
        color: black;
        z-index: 1000;
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    }
    
    .scroll-to-top.show {
        display: inline-block;
        opacity: 0.8;
    }
    
    .scroll-to-top.hide {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}